# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Folders
alias dls="cd ~/Downloads/"
alias desk="cd ~/Desktop/"
alias sites="cd ~/Sites/"
alias mm="cd ~/Sites/matthewmcvickar/"
alias oss="cd ~/Sites/opensource/"
alias work="cd ~/Sites/work/"

# Commands
alias g="git"
alias c="code ."

# Configuration
alias reload="source ~/.bash_profile"
alias dots="bash ~/Sites/matthewmcvickar/dotfiles/build_dotfiles.sh --force"
alias sshconfig="c ~/.ssh/config"

# List all files colorized in long format
alias l="ls -la -G"

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Update Homebrew and NPM packages.
alias gupdate='brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g;'
