[user]
  name = Matthew McVickar
  email = matthew@matthewmcvickar.com

[alias]
  # View the SHA, description, and history graph of the latest 20 commits
  l = log
  # View the current working tree status using the short format
  s = status
  # Push
  p = push
  # Pull in remote changes for the current repository and all its submodules
  u = !"git pull --rebase; git submodule foreach git pull origin master"
  # Diff stats
  ds = diff --shortstat
  # Commit all changes
  ca = !git add -A && git commit -av
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  # Set editor
  editor = code
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,trailing-space
